<div style="position: relative;">
  <input
    type="text"
    value={{if @displayPropertyName (get @value @displayPropertyName) @value}}
    {{on "input" (perform this.onInputTask)}}
    {{on "keydown" this.onKeyDown}}
    {{on "change" this.onChange}}
  />
  {{#if this.hasFoundItems}}
    <div local-class="found-items">
      {{#each this.foundItems as |foundItem index|}}
        <div>
          {{foundItem.email}}
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>