{{#in-element this.headerElement}}
  NEW
{{/in-element}}
<div local-class="root">
  <SubHeader>
    <h1>
      Create new Tenant
    </h1>
  </SubHeader>

  <div class={{local-class "form"}}>
    <Form as |form|>
      <form.label @text="Name" @isMandatory={{true}} />
      <form.input @size="2x">
        <FormInput
          @value={{this.tenantName}}
          @isValid={{this.isTenantNameValid}}
          @onChange={{this.tenantNameOnChange}}
        />
      </form.input>
      <form.back>
        {{#if (eq this.nameStatus "error")}}
          <span class="fa-layers fa-lg" style="color: red;">
            <FaIcon @icon="circle" @prefix="far" />
            <FaIcon @icon="exclamation" @transform="shrink-8" />
          </span>
        {{else if (eq this.nameStatus "busy")}}
          <FaIcon
            class="color-gray-3"
            @spin={{true}}
            @icon="circle-notch"
            @size="lg"
          />
        {{else if (eq this.nameStatus "ok")}}
          {{! <FaIcon @prefix="far" @icon="check-circle" @size="lg" /> }}
          <FaIcon class="color-primary" @icon="check" @size="lg" />
        {{else}}
          {{! nothing }}
        {{/if}}
      </form.back>
      <form.label @text="Tenant Admin Emails" @isMandatory={{true}} />
      <form.input @size="2x">
        <FormInput
          @value={{this.adminEmails}}
          @isValid={{isAdminEmailsValid}}
          @onChange={{this.adminEmailsOnChange}}
        />
      </form.input>
      <form.back>
        <div>
          <FaIcon
            class="color-gray-2"
            @icon="question-circle"
            @prefix="far"
            @size="lg"
          />
          <EmberTooltip @text="Insert admin emails as comma separated list." />
        </div>
      </form.back>
    </Form>
  </div>

  <Submit local-class="submit" as |submit|>
    <submit.button @type="primary" @text="Submit" @onClick={{this.submit}} />
    <submit.div local-class="saving">
      {{#if (eq this.this.saveStatus "saving")}}
        <FaIcon @icon="spinner" @spin={{true}} @size="2x" />
        <div>
          Creating tenant ...
        </div>
      {{else if (eq this.saveStatus "failed")}}
        ERROR
      {{/if}}
    </submit.div>
  </Submit>
</div>