<div local-class="protected-app-manage-privileges">
  {{#if this.canAdd}}
    <Submit as |form|>
      <form.button
        @text="Submit"
        @type="primary"
        {{on "click" (fn this.addPrivilege @model.app.id)}}
      />
      <form.button @text="Cancel" {{on "click" this.resetForm}} />
    </Submit>
  {{/if}}

  <Card local-class="card-1">
    <Section @text="Add new Privilege">
      <Form as |form|>
        <form.label>
          Name
        </form.label>
        <form.input @size="2x">
          <FormInput
            @value={{this.privilegeName}}
            @onChange={{fn (mut this.privilegeName)}}
          />
        </form.input>
        <form.label>
          Short
        </form.label>
        <form.input @size="2x">
          <FormInput
            @value={{this.privilegeShort}}
            @onChange={{fn (mut this.privilegeShort)}}
          />
        </form.input>
        <form.label>
          Tags
        </form.label>
        <form.input @size="fill">
          <Tags
            @onChange={{this.tagsOnChange}}
            @selectedTags={{this.selectedTags}}
          />
        </form.input>
      </Form>
    </Section>

    <div local-class="table-area">
      <div local-class="header">
        {{@model.privileges.length}} items
      </div>
      <YetiTable
        @theme={{
          hash
          table="yt-default-table"
          thead="yt-default-thead"
          tbodyRow="yt-default-tbodyRow"
        }}
        @data={{@model.privileges}} as |table|
      >
        <table.header as |header|>
          <header.column @sortable={{false}} style="width: 85px;" />
          <header.column @sortable={{false}}>
            Id
          </header.column>
          <header.column @sortable={{false}}>
            Name
          </header.column>
          <header.column @sortable={{false}}>
            Short
          </header.column>
          <header.column @sortable={{false}}>
            Tags
          </header.column>
        </table.header>
        <table.body as |body privilege index|>
          <body.row
            {{on "mouseover" (fn (mut this.mouseOverIndex) index)}}
            {{on "mouseleave" (fn (mut this.mouseOverIndex) null)}} as |row|
          >
            <row.cell>
              {{#if (eq index this.mouseOverIndex)}}
                {{!-- {{#if true}} --}}
                <div local-class="actions">
                  <Icon
                    @icon="angle-up"
                    {{on "click" (fn this.dataPrivilege.orderUp privilege)}}
                  />
                  <Icon
                    @icon="angle-down"
                    {{on "click" (fn this.dataPrivilege.orderDown privilege)}}
                  />
                  <Icon @icon="ellipsis-h">
                    <EmberPopover
                      @tooltipClass="popover-clean"
                      @event="click"
                      @side="right"
                    >
                      <Menu as |menu|>
                        <menu.item
                          {{on "click" (fn this.dataPrivilege.delete privilege)
                          }}
                        >
                          Delete privilege
                        </menu.item>
                      </Menu>
                    </EmberPopover>
                  </Icon>
                </div>
              {{/if}}
            </row.cell>
            <row.cell>
              <TextCopy @text={{privilege.id}}>
                <EmberTooltip @text="Copy to Clipboard" />
              </TextCopy>
            </row.cell>
            <row.cell>
              <InlineInput
                @value={{privilege.name}}
                @onChange={{
                  fn this.dataPrivilege.updateProperty privilege "name"
                }}
              />
            </row.cell>
            <row.cell>
              <InlineInput
                @value={{privilege.short}}
                @onChange={{
                  fn this.dataPrivilege.updateProperty privilege "short"
                }}
              />
            </row.cell>
            <row.cell>
              <Tags
                @selectedTags={{privilege.tags}}
                @onChange={{
                  fn this.dataPrivilege.updateProperty privilege "tags"
                }}
              />
            </row.cell>
          </body.row>
        </table.body>
      </YetiTable>
    </div>
  </Card>
</div>